@import '~node_modules/modern-normalize/modern-normalize.css';


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: linear-gradient(to bottom right, #ffc6d9, #b2fefa);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

a {
  color: #0078d4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}